# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/
